Backend/bvenv/

Backend/__pycache__/

Frontend/node_modules/

react-admin-dashboard-main/node_modules/

/home/admharshila/harshil/docker_test/MaricoGPT/react-admin-dashboard-main/node_modules

admin-backend/__pycache__/

Backend/myapp.log/

admin-backend/myapp.log/

*.pack

/home/admharshila/harshil/docker_test/MaricoGPT/.git/objects/pack
