Backend/bvenv/

Backend/__pycache__/

Frontend/node_modules/

admin-frontend/node_modules/

admin-backend/__pycache__/

Backend/myapp.log/

admin-backend/myapp.log

Backend/main_environment/

Backend/myapp.log

Frontend/.env